*
{
    margin: 0;
    padding: 0; 
}
.nav-bar{
    background: #1d4052;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
}
.nav-bar img{
    height: 45px;
    float: left;
    margin-left: 20px;
}



.menu-right{
    text-align: right;
}
ul li{
    display: inline-block;
    margin: 20px;
    list-style: none;
    
}
ul li a{
    color: #fff;
}

span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 700px){
    span
    {
        display: block;
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
}
/*---footer---*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h2{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 300;
    color: brown;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.footer-bottom{
    background-color: black;
    
}
.footer-bottom p{
    color: #fff;
}





